@import "variables";
@import "3rdParty/index";
@import "components/index";
@import "project/index";


body {
  font-size: $font-size-defalt;
  margin: 0;
  font-family: $font-family-default;
  color: $body-color;
  line-height: 1.5;
}

section {
  padding: 5% 10%;
  p {
    margin-right: 5em;
  }
  &.section__alt {
    background-color: $background-alt;
  }
}

.product__image {
  max-width: 100%;
  max-height: 50vh;
}

h1, h2, h3, h4 {
  font-family: $font-family-heading;
  color: $brand-primary !important;
}

h2 {
  font-weight: 300;
  text-align: center;
  font-size: $font-size-heading;
}

.nav {
  position: fixed;
  top: 0;
  height: 74px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.nav__link {
  cursor: pointer;
  padding: 20px;
  &:hover {
    .nav__icon svg {
      fill: $hover-light !important;
    }
  }
}

nav.nav__past-hero {
  .nav__link {

    .nav__icon svg {
      fill: $body-color !important;
    }
    &:hover {
      .nav__icon svg {
        fill: $hover-dark !important;
      }
    }
  }
}

.nav__icon svg {
  width: $icon-size;
  height: $icon-size;
  fill: $background-alt;

}

.hero {
  height: 100vh;
  background-image: url("/static/images/hero.jpg");
  background-color: #040405;
  display: flex;

  h1 {
    color: white !important;
    font-weight: 200;
    font-size: 4em;
  }
  .hero-inner {
    background-color: rgba(0, 0, 0, .65);
    flex:1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    img {
      width: 33%;
    }
  }

}