@import "variables";
@import "3rdParty/index";
@import "components/index";
@import "project/index";


body {
  font-size: $font-size-defalt;
  margin: 0;
  font-family: $font-family-default;
  color: $body-color;
  line-height: 1.5;
}

section {
  padding: 5% 10%;
  p {
    margin-right: 5em;
  }
  &.section__alt {
    background-color: $background-alt;
  }
}

.product__image {
  max-width: 100%;
  max-height: 50vh;
}

.product__image--large {
  max-width: 100%;
}

.grid {
  background: #DDD;
  overflow: hidden;
}

.grid-item {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  img {
    display: block;
    width: 100%;
  }
}


.product__grid {
  max-height: 100%;
  overflow-y: auto;
}
h1, h2, h3, h4 {
  font-family: $font-family-heading;
  color: $brand-primary !important;
}

h2 {
  font-weight: 300;
  text-align: center;
  font-size: $font-size-heading;
}

.nav {
  position: fixed;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  z-index: 2;
  padding: 10px 0;
}

.nav__link {
  cursor: pointer;
  height: 34px;
  padding-right: 20px;
  &:hover {
    .nav__icon svg {
      fill: $hover-light !important;
    }
  }
}

nav.nav__past-hero {
  background-color: white;
  border-color: #ccc;
  .nav__link {

    .nav__icon svg {
      fill: $body-color !important;
    }
    &:hover {
      .nav__icon svg {
        fill: $hover-dark !important;
      }
    }
  }
}

.nav__icon svg {
  width: $icon-size;
  height: $icon-size;
  fill: $background-alt;

}

.hero {
  height: 100vh;
  background-image: url("/static/images/hero.jpg");
  background-color: #040405;
  display: flex;

  h1 {
    color: white !important;
    font-weight: 200;
    font-size: 4em;
  }
  .hero-inner {
    background-color: rgba(0, 0, 0, .65);
    flex:1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    img {
      width: 33%;
    }
  }

}

