$icon-size: 34px;


@font-face {
  font-family: 'JennaSue';
  src: url('/static/fonts/jenna-sue.ttf');
}


$font-family-default: 'Abhaya Libre', serif;
$font-family-heading: 'JennaSue', cursive;

$body-color: #333;
$brand-primary: #462e52;
$background-alt: #f8f6f9;
$hover-light: #f9e07e;
$hover-dark: #281135;


$font-size-defalt: 1.5em;
$font-size-heading: 3em;